* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #2c3e50;
    --color2: #1abc9c;
    --color3: black;
    --color4: white;
    --color5: #3a546d;
}

.bg-nav {
    background-color: var(--color1);
}

button.navbar-toggler {
    filter: invert(1);
    border: 1px solid var(--color3);
}

.green {
    background-color: var(--color2);
    color: var(--color4);
}

figure .avatar {
    width: 200px;

}

.line {
    height: 4px;
    width: 20%;
    background-color: var(--color4);
    margin-inline: 10px;
    border-radius: 8px;
}

.line-1 {
    height: 4px;
    width: 20%;
    background-color: var(--color1);
    margin-inline: 10px;
    border-radius: 8px;
}

figure .portfolio {
    width: 300px;
    border-radius: 20px;
}

.download-1 {
    border: 1px solid var(--color4);
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

form {
    color: var(--color1);
}

.line-message {
    margin-top: 150px;
}

.btn-me {
    background-color: var(--color2);
    color: var(--color4);
    border: 1px solid var(--color4);
    width: 80px;
    height: 50px;
    margin-left: 200px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.gray {
    background-color: var(--color5);
    color: var(--color4);
}

.social .fa-brands{
    border: 1px solid var(--color4);
    border-radius: 40px;
    height: 50px;
    line-height: 50px;
}

.green-1 {
    color: var(--color2);
}

footer {
    background-color: var(--color1);
    color: var(--color4);
}


@media screen and (max-width: 768px) {
    .download-1 {
        margin-left: -40px;
    }
}

@media screen and (max-width: 576px) {
    .download-1 {
        margin-left: -60px;
    }

}